<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Document</title>
 <link rel="stylesheet" href="Assign1a.css">
</head>
<body>
 <nav class="navbar">
 <h1 class="logo">Starr</h1>
 <ul class="nav-link">
       <li class="active"><a href="Home.html">About Me</a></li>
       <li><a href="Contact.html">Contact</a></li>
       <li><a href="Login.html">Login</a><li>
       <li><a href="Register.html">Register</a></li>

 </ul>
 </nav>

 <header>
  <div class="header-content">
  </div>
 </header>


    
 <section>
    <div class="about-me">
       	<h1>Calista Chioma Ifenkwe</h1>
       	<img src="./Images/Ellipse 1.png" alt="">

    	<h2>Meet me!</h2>
   	<div class="line"></div>

    	<p>I live for creativity and that's what I bring to the tech-ble as a Designer, Crocheter and a student of Altschool Africa. I'm interested in tech and of course any other thing that gets the bag bigger.</p>

	<div class="Goals">
   		<h2>My Goals For This Program</h2>
   		<div class="line"></div>
   		<ul>
			<li>I want to do extra-ordinary things with code, extraaa lol.</li>
			<li>I'm aiming at being a world-class developer
			</li>
			<li>I can't wait to bring my designs to life, I crave that feeling of fulfillment and I'll definitely get it soon
			</li>
			<li>The most important one is I want to earn 6-figures and more! You thought I'd forget that???</li>
		</ul>
  </div>

<div class="education">
	<h2>Past/Current Education And Certificates</h2>
	<div class="line"></div>
	<ul>
		<li><p> <b> Michael Okpara University Of Agriculture, Umudike</b> </p></li>
		<li><i>Bsc. Biochemistry, 2021</i>
		</li>
	</ul>
	<ul>
		<li>
		<p> <b> Holy Rosary Secondary School Umuahia</b> </p>
		</li>
		<li><i>SSCE, 2016 </i>
		</li>
	</ul>

	<ul>
		<li>
			<p> <b> Mouau Primary School, Umudike</b> </p>
		</li>
		<li><i>FSLC, 2010</i>
		</li>
	</ul>

<ul>
	<li>
		<p> <b> Altschool, Africa</b> </p>
	</li>
	<li><i>Backend Engineering, 2023</i>
	</li>
</ul>




</div>

<div class="job-experience"></div>
	<h2>Job Experience</h2>
	<div class="line"></div>
	<ul>
		<li>Ui/Ux Design</li>
		<li>Product Design</li>
		<li>UX Research</li>
		<li>Interaction Design</li>
	</ul>
<div>
	<div class="hobbies"></div>
	<h2>Hobbies And Other Skills</h2>
	<div class="line"></div>
	<ul>
		<li>Crocheting</li>
			<li>Designing</li>
			<li>Hangouts</li>
			<li>Road trips</li>
		<li>Painting</li>
		<li>Money, lol </li>
	</ul>

<div class="calculator"></div>
	<h1></h1>
	<a href=calculator.html>Calculator</a>
  </div>

		
 </section>

	
</body>
</html>