<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Contact Me</title>
	<link rel="stylesheet" href="Assign1a.css">
</head>
<body>
	<nav class="navbar">
		<h1 class="logo">Starr</h1>
		<ul class="nav-link">
			<li class="active"><a href="Home.html">About Me</a></li>
			<li><a href="Contact.html">Contact</a></li>
			<li><a href="Login.html">Login</a>
			<li>
			<li class="ctn"><a href="Register.html">Register</a></li>
	
		</ul>
	</nav>
	
	<header>
		<div class="header-content">
		</div>
	</header>

		<div>
			<div class="contact"></div>
			<h1>Contact Me</h1>
		</div>

	<form action="" method="">
		<div>
			<label for="name">Name</label>
			</div>

			<div>
			<input type="name" required>
		</div>
		<br>
		<br>
		<div>
			<label for="name">Email</label>
			</div>
			<div>
			<input type="name" required>
			</div>
		<br>
		<br>
		<div>
			<label for="name">Message</label>
			</div>
			<div>
			<input type="name" required>
			</div>
			<br>
			<br>
				<div>
			<label for="message">Message</label>
			</div>
			<textarea name="message" id="message" cols="30" rows="5">Leave a message</textarea>

		<br>
		<div>
		<label for="priority">Priority</label>
		</div>
		<br>
		<div>
			<select>
				<option value="Male">Urgent</option>
				<option value="Female">Important</option>
				<option value="Non binary">Casual</option>
			</select>
			</div>
			<br>
			<div>
			<button>Submit</button>
			</div>
			
		</form>
</body>
</html>