<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Login</title>
<link rel="stylesheet" href="Assign1a.css">
</head>

<body>
  <nav class="navbar">
    <h1 class="logo">Starr</h1>
    <ul class="nav-link">
      <li class="active"><a href="Home.html">About Me</a></li>
      <li><a href="Contact.html">Contact</a></li>
      <li><a href="Login.html">Login</a>
      <li>
      <li class="ctn"><a href="Register.html">Register</a></li>
  
    </ul>
  </nav>

  <header>
    <div class="header-content">
    </div>
  </header>

    <div>
      <div class="login"></div>
      <h1>Login Now</h1>
    </div>

 <form action="" method="">
  <div>
    <label for="username">Username:</label>
  </div>

  <div>
    <input type="text" id="username" name="username" required>
  </div>
<br>

  <div>
   <label for="userpassword">Password(Minimum of 8 characters):</label>
  </div>

  <div>
   <input type="password" id="userpassword" name="password" minlength="8" required>
  </div>
<br>

    <div>
      <button>Submit</button>
    </div>
 </form>
</body>

</html>