<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Assignment 1</title>
  <link rel="stylesheet" href="Assign1.css">
</head>
<body>
  <nav>
    <h1>Starr</h1>
    <ul>
      <li><a href="About-me.html">About Me</a></li>
      <li><a href="Contact.html">Contact</a></li>
      <li><a href="Register.html">Register</a></li>
      <li><a href="Login.html">Login</a></li>
    </ul>
  </nav>
<div>
    <p>Calista Chioma Ifenkwe</p>
    <img src="" alt="">

    <h3>Technical Writing</h3>
    <p> Hi, there. Welcome to my page
    I'm <b>Calista</b>.As a technical writer, my focus is on creating technical documentation that is clear, accurate, and easy to understand.
    I am responsible for writing and editing a wide range of materials, including user manuals, online help systems,
    quick-reference guides, and technical reports. I also collaborate with subject matter experts and other stakeholders to
    gather information and create accurate and comprehensive documentation.
    
    I am skilled in breaking down complex technical information and presenting it in a clear and concise manner. I am able
    to create technical documentation that is easy to understand for both technical and non-technical audiences. I also have
    experience with creating visual aids such as diagrams and flowcharts to supplement written documentation.
    
    I am also familiar with various technical writing tools and software such as Madcap Flare, Adobe Framemaker, and
    RoboHelp, that help me to create, publish and maintain documentation.
    
    In addition to writing and editing, I also work with project teams to ensure that technical documentation meets the
    needs of all stakeholders and is delivered on time. My goal is always to create technical documentation that is
    accurate, accessible and useful for the intended audience.</p>
</div>

<div>
  <h2>Web Development</h2>
  <ul>
    <li>As a web developer, my focus is on creating dynamic and interactive websites that provide an optimal user experience. I
    am skilled in using a variety of programming languages and technologies, including HTML, CSS, JavaScript, and back-end
    languages such as PHP and Ruby. I work closely with clients and stakeholders to understand their needs and create
    solutions that meet those needs.
    
    I am responsible for creating the visual and interactive elements of a website, including layout, color, typography, and
    images. I also use web development languages such as HTML, CSS, and JavaScript to create interactive and responsive web
    pages. I am also familiar with front-end frameworks such as Bootstrap, Foundation and AngularJS.
    
    I am also familiar with various web development tools and software such as Git, GitHub, and Visual Studio Code, that
    help me to create, publish, and maintain websites. I also stay up-to-date with the latest trends and best practices in
    web development, such as responsive design and web accessibility.
    
    In addition to coding and design, I also work with project teams to ensure that websites meet the needs of all
    stakeholders and are delivered on time. My goal is always to create websites that are visually appealing, easy to
    navigate, and meet the needs of the client and the end-users.
</li>
  </ul>
</div>

<div>
  <h1>Education and Certifications</h1>
  <h2>Michael Okpara University Of Agriculture</h2>
  <p>Bsc. Biochemistry,2021. </p>
  <h2>Holy Rosary Secondary School Umuahaia</h2>
  SSCE, 2016.
</div>

<div>
  <h2>Job Experience</h2>
  <ul>
    <li>O'level</li>
    <li>O'level</li>
    <li>O'level</li>
    <li>O'level</li>
  </ul>
</div>

<div>
  <h2>Hobbies and other skills</h2>
  <ul>
    <li>Ui/Ux Designer</li>
    <li>Interaction Design</li>
    <li>Product Design</li>
    <li></li>
  </ul>
</div>

</body>
</html>