<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Register</title>
	<link rel="stylesheet" href="Assign1a.css">
</head>

<body>
	<nav class="navbar">
		<h1 class="logo">Starr</h1>
		<ul class="nav-link">
			<li class="active"><a href="Home.html">About Me</a></li>
			<li><a href="Contact.html">Contact</a></li>
			<li><a href="Login.html">Login</a>
			<li>
			<li class="ctn"><a href="Register.html">Register</a></li>
	
		</ul>
	</nav>

	<header>
		<div class="header-content">
		</div>
	</header>
	
	<div>
		<div class="register"></div>
		<h1>Register Now</h1>
	</div>

<div class="register"></div>
	<form action="" method="" id="register">
		<div>
		<label for="name">First Name:</label>
		</div>

		<div>
		<input type="text" id="First name" required>
		</div>
<br>

		<div>
			<label for="name">Last Name:</label>
			</div>

			<div>
			<input type="text" id="Last name" required>
		</div>
<br>

		<div>
			<label for="Phone number"></label>Phone Number:</label>
		</div>

		<div>
			<input type="tel" id="phone number" name="phone number" pattern="[0-9] {3}-[0-9]{3}-[0-9] {3}-[0-9]{2}" required>
		</div>
<br>
			<div>
				<label for="gender">Gender:</label>
			</div>

		<div>
			<select> 
				<option value="male">Male</option>
				<option value="Female">Female</option>
				<option value="Non binary">Prefer not to say</option>
			</select>
		</div>
<br>

		<div>
			<label for="country">Country Of Residence:</label>
			</div>

			<div>
			<input type="text" id="country" required>
		</div>
<br>

		<div>
				<label for="name">State/Province:</label>
				</div>

				<div>
				<input type="text" id="state/providence" required>
		</div>
		<br>


		<div>
			<label for="username">Username:</label>
			</div>

			<div>
			<input type="text" id="username" name="username" required>
		</div>
		<br>


		<div>
			<label for="password">Password(Minimum of 8 characters):</label>
		</div>

		<div>
			<input type="password" id="password" name="password" minlength="8" required>
		</div>
<br>

		<div>
			<label for="name">Confirm Password:</label>
		</div>

		<div>
			<input type="password" id="confirm password" required>
		</div>
<br>

		<div>
			<button>Submit</button>
		</div>
		

	</form>
</body>

</html>